# How to run this Notebooks:

1. Download and install the following software
    a. Python v3.x (https://www.python.org/downloads/)
    b. Pandas (https://pandas.pydata.org/docs/getting_started/install.html)
    c. Requests (https://docs.python-requests.org/en/latest/)
    d. Jupyter Notebooks (https://jupyter.org/)
    e. Matplotlib (https://matplotlib.org/)
    f. Seaborn (https://seaborn.pydata.org/)
2. If running Windows
    a. Download and install commander (https://cmder.net/)